*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    /* border: 1px solid black; */
    /* background-color: wheat; */
    background: linear-gradient(skyblue,rgb(12, 12, 111),red);
    display: grid;
    grid-template-columns:repeat(3,25%);
    grid-template-rows: repeat(6,15%);
    gap: 0.7rem;
    padding: 0.8em;
    grid-template-areas: 
    "box1 box2 box3"
    "box4 box2 box3"
    "box4 box5 box6"
    "box4 box5 box7"
    "box8 box9 box9"
    "box8 box9 box9";
    justify-content: center;
    align-content: center;
}
.box{
    background-color: lightsteelblue;
    border: 2px solid black;
    /* padding: 1rem; */
    border-radius: 15px;
    /* font-size: 25px; */
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}
.box:hover{
    transform: scale(1.05);
    /* box-shadow: 0 10px 10px rbga(0,0,0,0,02);` */
}
.box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Grid naming */
.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box4{
    grid-area: box4;
}
.box5{
    grid-area: box5;
}
.box6{
    grid-area: box6;
}
.box7{
    grid-area: box7;
}
.box8{
    grid-area: box8;
}
.box9{
    grid-area: box9;
}
@media (max-width:768px) {
    .container{
        grid-template-rows:repeat(6,7%);
        gap: 0.3rem;
    }
    .box{
        /* font-size: 15px; */
        border-radius: 9px;
    }
}